
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TTMS Login</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="icon" type="favicom" href="/img/ttm-Icon-new.png">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/signup.js" defer></script>
</head>
<body>
    <section>
        <form action="/login" method="post">
            <h1>TTMS Login</h1>
             <!-- Logout Success Message 12/11/24 -->
             <c:if test="${param.logout != null and param.logout == 'true'}">
            </c:if>
             <!-- Error Message (if login fails) -->
            <div class="dialog-row">
                <label th:if="${param.error}" class="text-center redText">
                    <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION?.message}"></span>
                </div>
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input name="username" id="username"type="name" required>
                <label for="">username</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input name="password" type="password" id="password" required>
                <label for="">Password</label>
            </div>
             <!-- Compact Remember Me Checkbox -->
             <div class="compact-remember-me">
                <input type="checkbox" id="remember-me" name="remember-me">
                <label for="remember-me">Remember Me</label>
            </div>
            <div class="register">
                <p><a href="#">Forget Password ?</a></p>
            </div>
            <button>Log in</button>
            <div class="register">
                <p>Don't have a account ?<a href="/req/signup"> Register!!</a></p>
            </div>
        </form>
    </section>
</body>
   <!-- Copyright Section -->
   <footer class="copyright">
    <p>© <span id="year"></span> TTM System. All rights reserved.</p>
</footer>
<script>
    // Get the current year and set it to the span with id 'year'
    document.getElementById('year').textContent = new Date().getFullYear();
</script>
</body>
</html>
