
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="icon" type="favicom" href="/img/ttm-Icon-new.png">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/signup.js" defer></script>
</head>
<body>
    <section>
        <form action="/login" method="post">
            <h1>Login</h1>
            <div class="dialog-row">
                <label th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-center redText"></label>                   
            </div>
            <div class="inputbox">
                <ion-icon name="email-outline"></ion-icon>
                <input name="username" id="username"type="name" required>
                <label for="">username</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input name="password" type="password" id="password" required>
                <label for="">Password</label>
            </div>
            <div class="register">
                <p><a href="#">Forget Password ?</a></p>
            </div>
            <button>Log in</button>
            <div class="register">
                <p>Don't have a account ?<a href="/req/signup"> Register!!</a></p>
            </div>
        </form>
    </section>
</body>
  