server:
  error:
    include-message: always 
    include-binding-errors: always  

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ttm
    username: 
    password: 
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format-sql: true 
        show-sql: true  

